button {
    min-width: 8em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;

    font-weight: 700;
    color: white;
    background-color: #404040;
}

input {
    padding: 0.5em 1em;
}

textarea {
    padding: 0.5em 1em;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100dvh;
    width: 100dvw;
}

.gapped {
    gap: 0.25em;
}

.h-centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-centered {
    justify-content: center;
}

.h-centered {
    align-items: center;
}

.h-pad {
    padding-left: 0.5em;
    padding-right: 0.5em;
}